#notepad {
    /* Custom properties */
    --notepad-toggle-color: #3b3b3b;
    --notepad-toggle-height: 35px;
    --notepad-line-color: #9cdfff;
    --notepad-background-color: white;
    --notepad-line-width: 0.5px;
    --notepad-line-spacing: 30px;
    --notepad-arrow-size: 10px;
    --notepad-left-padding: 10px;

    /* Other properties */
    padding: 0;
    margin: 0;
    margin-left: 17.5em;
    transition: margin-left 200ms ease-in, height 200ms ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

#notepad.notransition {
    transition: margin-left 200ms ease-in;
}

#ui-bar.stowed ~ #notepad {
    margin-left: 2em;
}

#notepad_toggle {
    width: 100%;
    height: var(--notepad-toggle-height);
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--notepad-toggle-color);
    overflow: hidden;
}

#notepad_toggle:hover {
    cursor: n-resize;
}

#notepad_arrow {
    position: absolute;
    left: calc(50% - var(--notepad-arrow-size));
    top: var(--notepad-toggle-height);
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border-top: var(--notepad-arrow-size) solid var(--notepad-toggle-color);
    border-bottom: 0px solid transparent;
    border-left: var(--notepad-arrow-size) solid transparent;
    border-right: var(--notepad-arrow-size) solid transparent;
}

#notepad.stowed > #notepad_arrow {
    border-top: 0px solid transparent;
    border-bottom: var(--notepad-arrow-size) solid var(--notepad-toggle-color);
    top: calc(-1 * var(--notepad-arrow-size));
}

#notepad_textarea {
    width: calc(100% - var(--notepad-left-padding));
    min-width: 0;
    height: calc(100% - var(--notepad-toggle-height));
    padding: 10px 0px 10px var(--notepad-left-padding);
    border: 0;
    margin: 0;
    display: block;
    font-size: 1em;
    resize: none;
    color: black;
    outline: none;
    cursor: context-menu;
    background-image: repeating-linear-gradient(var(--notepad-line-color), var(--notepad-line-color) var(--notepad-line-width), var(--notepad-background-color) 0px, var(--notepad-background-color) var(--notepad-line-spacing));
    background-attachment: local;
}

#notepad_textarea::-webkit-scrollbar {
    width: 10px;
}

#notepad_textarea::-webkit-scrollbar-track {
    background: #ccc;
}

#notepad_textarea::-webkit-scrollbar-thumb {
    background: #888;
}